In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
'''Importing January 2019 Files 
Neighbourhoods = Neighbourhood list for geo filter. Sourced from city or open source GIS files.
Reviews = Summary Review data and Listing ID (to facilitate time based analytics and visualisations linked to a listing)
Listings = 	Summary information and metrics for listings in Portland (good for visualisations).

Reviews_content = Detailed Review Data for listings in Portland
Calendar_content = Detailed Calendar Data for listings in Portland
Listing_content = Detailed Listings data for Portland'''

neighbourhoods = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2019neighbourhoods.csv')
reviews19 = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2019reviews.csv')
listings19 = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2019listings.csv')

# Importing the csv.gz files
reviews19_content = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2019reviews.csv.gz')
calendar19_content = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2019calendar.csv.gz')
listings19_content = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2019listings.csv.gz')

In [3]:
'''Importing January 2020 Files. Clean the data so that all the listings between these two years are both listed
Potentially can even show dropped listings'''

listings20 = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2020listings.csv')
reviews20 = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2020reviews.csv.gz')

# Importing Jan2020 csv.gz files
listings20_content = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2020listings.csv.gz')
reviews20_content = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2020reviews.csv.gz')

### Exploring 2019 Data, start data cleaning

In [28]:
listings19_content #doesn't have neighbourhoods
listings19.head()
listings19.info()
# Join on the ID between listings and listings_content
# Potentially Join 2019 and 2020, some listings aren't in the data anymore

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5349 entries, 0 to 5348
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              5349 non-null   int64
 1   name                            5349 non-null   object
 2   host_id                         5349 non-null   int64
 3   host_name                       5349 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   5349 non-null   object
 6   latitude                        5349 non-null   float64
 7   longitude                       5349 non-null   float64
 8   room_type                       5349 non-null   object
 9   price                           5349 non-null   int64
 10  minimum_nights                  5349 non-null   int64
 11  number_of_reviews               5349 non-null   int64
 12  last_review                     4892 non-null   object
 13  reviews_per_month               4892 non-null   float64
 14  calculated_host_listings_count  5349 non-null   int64
 15  availability_365                5349 non-null   int64
dtypes: float64(4), int64(7), object(5)
memory usage: 668.8+ KB

In [33]:
# All the neighborhoods
pd.set_option('display.max_row', 1000)
neighbourhoods = pd.DataFrame(neighbourhoods.neighbourhood)
# neighbourhoods
neighbourhoods.to_csv('neighborhoods')

In [29]:
# Limiting neighbourhoods to certain areas
# listings19.neighbourhood.str.contains('Pearl','Goose Hollow','Old Town/Chinatown','Lloyd District','Portland Downtown')
# These are the 5 neighbourhoods to work with

In [12]:
reviews19
reviews19_content
reviews19_content.columns
# Join between listing_id with listings

Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [32]:
reviews19_content
# This table may not be necessary, could use reviews19_content

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7893,27282,2010-02-22,52074,Shaun,Couldn't possibly had a better experience with...
1,7893,17461247,2014-08-12,13284006,Jessica,Jesse's place was really wonderful! The apartm...
2,12899,24767,2010-01-24,69327,Stuart,"Recommended! Very good value for a spacious, a..."
3,12899,29230,2010-03-13,72846,John,Our ten days visiting in Portland were enormou...
4,12899,29806,2010-03-16,84196,Lois,We had a wonderful time staying in the area of...
...,...,...,...,...,...,...
335434,31224577,368952249,2019-01-08,25315714,Robert,Accommodations offer extreme privacy with a la...
335435,31224577,401142574,2019-01-13,51625578,Shuailin,one of my best Airbnb experience! Jeff is real...
335436,31291509,400029795,2019-01-10,226304108,Levi,Mickey and Molly went above and beyond when th...
335437,31320431,400657251,2019-01-12,137962222,Callum,This was hands-down the best Airbnb I have sta...
335438,31442606,400327860,2019-01-11,149307263,Jesse,It was a nice quiet place and very clean. It w...