In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
'''Importing January 2020 Files 
Neighbourhoods = Neighbourhood list for geo filter. Sourced from city or open source GIS files.
Reviews = Summary Review data and Listing ID (to facilitate time based analytics and visualisations linked to a listing)
Listings = 	Summary information and metrics for listings in Portland (good for visualisations).

Reviews_content = Detailed Review Data for listings in Portland
Calendar_content = Detailed Calendar Data for listings in Portland
Listing_content = Detailed Listings data for Portland'''

neighborhoods = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/neighborhoods.csv')
reviews = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2020reviews.csv')
listings = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2020listings.csv')

# Importing the csv.gz files
reviews_content = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2020reviews.csv.gz')
calendar_content = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/calendar.csv.gz')
listings_content = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Jan2020listings.csv.gz')

## Cleaning Data

In [3]:
listings.columns
listings.drop(columns=['neighbourhood_group','last_review','reviews_per_month'],inplace=True)

In [4]:
listings.shape
listings.drop(columns=['host_name','calculated_host_listings_count'],inplace=True)

In [5]:
listings.head(1)

,id,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365
0,16688,"Beautiful condo in downtown Pearl, NW Portland",64840,Pearl,45.52542,-122.68557,Entire home/apt,275,2,78,362

In [84]:
pd.set_option('display.max_rows', 100)
listings.neighbourhood.value_counts()

Richmond                                242
Portland Downtown                       217
Northwest District                      197
Buckman                                 189
Pearl                                   179
Concordia                               162
King                                    150
Mt. Tabor                               134
Sunnyside                               125
Kenton                                  124
Overlook                                120
Boise                                   115
Hosford-Abernethy                       113
Irvington                               105
Sellwood-Moreland Improvement League     98
Kerns                                    96
Montavilla                               86
Humboldt                                 85
Piedmont                                 82
Arbor Lodge                              75
Woodlawn                                 71
South Portland                           68
Woodstock                                65
Vernon                                   65
St. Johns                                64
South Tabor                              61
Eliot                                    58
Cully                                    58
Rose City Park                           54
Old Town/Chinatown                       54
Sabin                                    48
Creston-Kenilworth                       44
Roseway                                  44
Brooklyn Action Corps                    42
Hillsdale                                42
Laurelhurst                              41
Brentwood-Darlington                     40
Multnomah                                40
North Tabor                              39
Portsmouth                               38
Lents                                    37
Foster-Powell                            37
Southwest Hills                          37
Mt. Scott-Arleta                         36
Madison South                            35
Beaumont-Wilshire                        35
Goose Hollow                             34
Sullivan's Gulch                         33
University Park                          32
Hazelwood                                32
Homestead                                31
Cathedral Park                           30
Hayhurst                                 30
Powellhurst-Gilbert                      29
Reed                                     25
Alameda                                  24
Eastmoreland                             22
Grant Park                               21
Hillside                                 20
Parkrose                                 19
Centennial                               17
Parkrose Heights                         16
Ashcreek                                 15
South Burlingame                         14
Bridgeton                                14
Bridlemile                               12
Mill Park                                12
Wilkes                                   11
West Portland Park                       10
Maplewood                                 9
Collins View                              8
Sylvan-Highlands                          8
Far Southwest                             8
Northwest Heights                         8
Sumner                                    7
Markham                                   7
Lloyd District                            7
Arlington Heights                         7
Hollywood                                 6
Pleasant Valley                           6
Hayden Island                             6
Argay                                     5
Forest Park                               5
Arnold Creek                              5
East Columbia                             4
Glenfair                                  4
Marshall Park                             4
Crestwood                                 3
Linnton                                   3
Sunderland                                3
Russell                                   2
Ardenwald-Johnson Creek                   2
Woodland Park                             1
Name: neighbourhood, dtype: int64

In [56]:
listings2 = listings.loc[(listings['neighbourhood'] == 'Pearl') | (listings['neighbourhood'] == 'Goose Hollow') | (listings['neighbourhood'] == 'Old Town/Chinatown') | (listings['neighbourhood'] == 'Lloyd District') | (listings['neighbourhood'] == 'Portland Downtown')]
listings2.head(1)
# listings2.reset_index()
listings2.head(1)

,id,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365
0,16688,"Beautiful condo in downtown Pearl, NW Portland",64840,Pearl,45.52542,-122.68557,Entire home/apt,275,2,78,362

In [57]:
listings_content.head(1)
# listings_content.reset_index()
listings2.head(1)

,id,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365
0,16688,"Beautiful condo in downtown Pearl, NW Portland",64840,Pearl,45.52542,-122.68557,Entire home/apt,275,2,78,362

In [8]:
listings_content.drop(columns=['listing_url','scrape_id','last_scraped','name','availability_365',
                               'experiences_offered','thumbnail_url','medium_url','picture_url','xl_picture_url',
                               'host_about','host_thumbnail_url','host_picture_url','neighborhood_overview','host_listings_count',
                               'host_neighbourhood','neighbourhood_cleansed','neighbourhood_group_cleansed',
                              'city','state','country_code','country','latitude','longitude','is_location_exact','bed_type',
                              'host_id','host_url','host_since','host_total_listings_count','street','neighbourhood','square_feet','minimum_minimum_nights',
                               'maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','smart_location',
                              'reviews_per_month','jurisdiction_names','requires_license','license','calculated_host_listings_count_shared_rooms',
                               'calculated_host_listings_count_private_rooms','calculated_host_listings_count_entire_homes',
                              'calculated_host_listings_count','first_review','last_review','number_of_reviews_ltm','calendar_last_scraped','availability_90',
                               'availability_60','availability_30','maximum_nights_avg_ntm','minimum_nights_avg_ntm',
                              'host_name','require_guest_profile_picture','require_guest_phone_verification','host_location','market','notes','zipcode',
                               'number_of_reviews','host_acceptance_rate','minimum_nights','maximum_nights','has_availability','calendar_updated'],inplace=True)

In [9]:
listings_content.drop(columns=['review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value','host_verifications', 'weekly_price',
 'monthly_price','room_type'],inplace=True)

In [10]:
listings_content.drop(columns='room_type',inplace=True)

In [11]:
list(listings_content.columns)
# listings_content.shape
# listings_content.host_verifications

['id',
 'summary',
 'space',
 'description',
 'transit',
 'access',
 'interaction',
 'house_rules',
 'host_response_time',
 'host_response_rate',
 'host_is_superhost',
 'host_has_profile_pic',
 'host_identity_verified',
 'property_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'amenities',
 'price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'review_scores_rating',
 'instant_bookable',
 'is_business_travel_ready',
 'cancellation_policy']

In [12]:
calendar_content.head(1)
calendar_content.drop(columns=['minimum_nights','maximum_nights'],inplace=True)
calendar_content.head(1)

   listing_id        date available    price adjusted_price
0       16688  2020-01-02         t  $239.00        $239.00

In [13]:
# listings2.to_csv('listings2.csv',index=False)
# calendar_content.to_csv('calendarPortland.csv',index=False)
# listings_content.to_csv('listings_content.csv',index=False)

## Joined the tables, now to clean it

In [14]:
all_tables = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/Join_3tables.csv')
listing_joined = pd.read_csv('C:/Users/Jing/Desktop/Galvanize_Capstones/JingWu-Capstone2/DATA/listings_joined.csv')

In [15]:
all_tables.head(1)
all_tables.columns

Index(['Access', 'Amenities', 'Available', 'Cancellation Policy', 'Date',
       'Description', 'Host Has Profile Pic', 'Host Id',
       'Host Identity Verified', 'Host Is Superhost', 'Host Response Time',
       'House Rules', 'Instant Bookable', 'Interaction',
       'Is Business Travel Ready', 'Listing Id', 'Name', 'Neighbourhood',
       'Property Type', 'Room Type', 'Space', 'Summary', 'Transit',
       'Accommodates', 'Adjusted Price', 'Availability 365', 'Bathrooms',
       'Bedrooms', 'Beds', 'Cleaning Fee', 'Extra People', 'Guests Included',
       'Host Response Rate', 'Latitude', 'Longitude', 'Minimum Nights',
       'Number Of Reviews', 'Price', 'price (calendarPortland.csv)',
       'Price (Listings Content.Csv)', 'Review Scores Rating',
       'Security Deposit'],
      dtype='object')

In [16]:
all_tables.rename(columns={'price (calendarPortland.csv)':'calendar_price'},inplace=True)

In [17]:
all_tables.rename(columns={'Price (Listings Content.Csv)':'listings_price'},inplace=True)
all_tables.head(1)

,Access,Amenities,Available,Cancellation Policy,Date,Description,Host Has Profile Pic,Host Id,Host Identity Verified,Host Is Superhost,...,Host Response Rate,Latitude,Longitude,Minimum Nights,Number Of Reviews,Price,calendar_price,listings_price,Review Scores Rating,Security Deposit
0,The room is private and the bathroom is down t...,"{Wifi,""Air conditioning"",Kitchen,Heating,""Smok...",False,strict_14_with_grace_period,1/5/2020,The most central single family residence in do...,True,8207605,True,False,...,1.0,45.51678,-122.68783,28,25,45,45,45,93.0,200.0

In [18]:
all_tables.loc[all_tables['Host Id'].isna()]

Empty DataFrame
Columns: [Access, Amenities, Available, Cancellation Policy, Date, Description, Host Has Profile Pic, Host Id, Host Identity Verified, Host Is Superhost, Host Response Time, House Rules, Instant Bookable, Interaction, Is Business Travel Ready, Listing Id, Name, Neighbourhood, Property Type, Room Type, Space, Summary, Transit, Accommodates, Adjusted Price, Availability 365, Bathrooms, Bedrooms, Beds, Cleaning Fee, Extra People, Guests Included, Host Response Rate, Latitude, Longitude, Minimum Nights, Number Of Reviews, Price, calendar_price, listings_price, Review Scores Rating, Security Deposit]
Index: []

[0 rows x 42 columns]

In [19]:
tables_combined = all_tables.fillna('')

In [20]:
tables_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179215 entries, 0 to 179214
Data columns (total 42 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Access                    179215 non-null  object
 1   Amenities                 179215 non-null  object
 2   Available                 179215 non-null  bool
 3   Cancellation Policy       179215 non-null  object
 4   Date                      179215 non-null  object
 5   Description               179215 non-null  object
 6   Host Has Profile Pic      179215 non-null  bool
 7   Host Id                   179215 non-null  int64
 8   Host Identity Verified    179215 non-null  bool
 9   Host Is Superhost         179215 non-null  bool
 10  Host Response Time        179215 non-null  object
 11  House Rules               179215 non-null  object
 12  Instant Bookable          179215 non-null  bool
 13  Interaction               179215 non-null  object
 14  Is Business Travel Ready  179215 non-null  bool
 15  Listing Id                179215 non-null  int64
 16  Name                      179215 non-null  object
 17  Neighbourhood             179215 non-null  object
 18  Property Type             179215 non-null  object
 19  Room Type                 179215 non-null  object
 20  Space                     179215 non-null  object
 21  Summary                   179215 non-null  object
 22  Transit                   179215 non-null  object
 23  Accommodates              179215 non-null  int64
 24  Adjusted Price            179215 non-null  int64
 25  Availability 365          179215 non-null  int64
 26  Bathrooms                 179215 non-null  float64
 27  Bedrooms                  179215 non-null  object
 28  Beds                      179215 non-null  int64
 29  Cleaning Fee              179215 non-null  object
 30  Extra People              179215 non-null  int64
 31  Guests Included           179215 non-null  int64
 32  Host Response Rate        179215 non-null  object
 33  Latitude                  179215 non-null  float64
 34  Longitude                 179215 non-null  float64
 35  Minimum Nights            179215 non-null  int64
 36  Number Of Reviews         179215 non-null  int64
 37  Price                     179215 non-null  int64
 38  calendar_price            179215 non-null  int64
 39  listings_price            179215 non-null  int64
 40  Review Scores Rating      179215 non-null  object
 41  Security Deposit          179215 non-null  object
dtypes: bool(6), float64(3), int64(13), object(20)
memory usage: 50.2+ MB

In [21]:
listings_combined = listing_joined.fillna('')
listings_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491 entries, 0 to 490
Data columns (total 37 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Access                        491 non-null    object
 1   Amenities                     491 non-null    object
 2   Cancellation Policy           491 non-null    object
 3   Description                   491 non-null    object
 4   Host Has Profile Pic          491 non-null    bool
 5   Host Id                       491 non-null    int64
 6   Host Identity Verified        491 non-null    bool
 7   Host Is Superhost             491 non-null    bool
 8   Host Response Time            491 non-null    object
 9   House Rules                   491 non-null    object
 10  Instant Bookable              491 non-null    bool
 11  Interaction                   491 non-null    object
 12  Is Business Travel Ready      491 non-null    bool
 13  Name                          491 non-null    object
 14  Neighbourhood                 491 non-null    object
 15  Property Type                 491 non-null    object
 16  Room Type                     491 non-null    object
 17  Space                         491 non-null    object
 18  Summary                       491 non-null    object
 19  Transit                       491 non-null    object
 20  Accommodates                  491 non-null    int64
 21  Availability 365              491 non-null    int64
 22  Bathrooms                     491 non-null    float64
 23  Bedrooms                      491 non-null    object
 24  Beds                          491 non-null    int64
 25  Cleaning Fee                  491 non-null    object
 26  Extra People                  491 non-null    int64
 27  Guests Included               491 non-null    int64
 28  Host Response Rate            491 non-null    object
 29  Latitude                      491 non-null    float64
 30  Longitude                     491 non-null    float64
 31  Minimum Nights                491 non-null    int64
 32  Number Of Reviews             491 non-null    int64
 33  Price                         491 non-null    int64
 34  Price (Listings Content.Csv)  491 non-null    int64
 35  Review Scores Rating          491 non-null    object
 36  Security Deposit              491 non-null    object
dtypes: bool(5), float64(3), int64(10), object(19)
memory usage: 125.3+ KB

In [35]:
listings_combined['Host Id'].count()

491

In [44]:
tables_combined['Listing Id'].nunique()

491

In [54]:
# Count of the numbers of listings availble during those days, Count if TRUE
x = tables_combined.loc[tables_combined.Available == True]
# x
# pd.set_option('display.max_rows', 100)
x.Date.value_counts().sort_index(axis=0)
# Creating a new column called available_homes
# tables_combined['Available_homes'] = x.Date.value_counts().sort_index(axis=0)

1/10/2020    279
1/11/2020    275
1/12/2020    300
1/13/2020    307
1/14/2020    314
            ...
9/5/2020     272
9/6/2020     268
9/7/2020     268
9/8/2020     268
9/9/2020     268
Name: Date, Length: 365, dtype: int64

In [55]:
# tables_combined.drop(columns='Available_homes',inplace=True)

In [78]:
y = tables_combined.loc[tables_combined.Available == False]
y2 = y.Date.value_counts().sort_index(axis=0)
y3 = y2.to_frame()
y3
# tables_combined['Unavailable_homes'] = y3['Date']

In [81]:
tables_combined.drop(columns=['Count_unavailable_homes','Unavailable_homes'],inplace=True)

In [82]:
# Exporting into csv
tables_combined.to_csv('tables_combined.csv',index=False)
listings_combined.to_csv('listings_combined.csv',index=False)

## Notes Section

In [13]:
# listings_content.drop(columns=['host_picture_url','neighborhood_overview','host_listings_count','host_neighbourhood','neighbourhood_cleansed','neighbourhood_group_cleansed',
#                               'city','state','country_code','country','latitude','longitude','is_location_exact','bed_type'],inplace=True)

In [14]:
# listings_content.drop(columns=['host_id','host_url','host_since','host_total_listings_count','street','neighbourhood','square_feet','minimum_minimum_nights',
#  'maximum_minimum_nights',
#  'minimum_maximum_nights',
#  'maximum_maximum_nights','smart_location'],inplace=True)

In [15]:
# listings_content.drop(columns=['reviews_per_month','jurisdiction_names','requires_license','license','calculated_host_listings_count_shared_rooms','calculated_host_listings_count_private_rooms','calculated_host_listings_count_entire_homes'],inplace=True)

In [16]:
# listings_content.drop(columns=['calculated_host_listings_count','first_review','last_review','number_of_reviews_ltm','calendar_last_scraped','availability_90','availability_60','availability_30','maximum_nights_avg_ntm','minimum_nights_avg_ntm'],inplace=True)

In [17]:
# listings_content.drop(columns=['host_name','require_guest_profile_picture','require_guest_phone_verification'],inplace=True)

In [18]:
# listings_content.drop(columns=['host_location','market','notes','zipcode','number_of_reviews','host_acceptance_rate','minimum_nights','maximum_nights'],inplace=True)

In [19]:
# listings_content.drop(columns=['has_availability','calendar_updated'],inplace=True)